$headerHeight: 40px;
$rowHeight: 45px;
lesson-list {
    display: block;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 400;

    .lesson-list {
        .flex-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .flex-item {
            &.icon {
                flex-basis: 10%;
            }
            &.title {
                flex-basis: 20%;
            }
            &.subject {
                flex-basis: 15%;
            }
            &.description {
                flex-basis: 40%;
            }
            &.select {
                flex-basis: 15%;
            }
        }
        header.list-header {
            background-color: $bgColor15;
            border-radius: 20px;
            margin-bottom: 5px;
            padding: 0 15px;
            .flex-item {
                height: $headerHeight;
                line-height: $headerHeight - 10px;
                padding:5px;
                box-sizing: border-box;
            }
        }
        .rows-wrapper,
        .no-rows-for-filter {
            //height: $rowHeight * 8;
            max-height: 260px;
            box-sizing: border-box;
        }
        .no-rows-for-filter {
            font-family: Quicksand, sans-serif;
            font-size: 14px;
            color: $fcColor6;
            text-align: center;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;
        }
        .rows-wrapper {
            overflow-y: auto;
            overflow-x: hidden;
            margin:0 10px;
            padding: 0 7px;

            /*
            *  Custom Scrollbar design
            */
            &.znk-scrollbar {
                ::-webkit-scrollbar,
                &::-webkit-scrollbar {
                    height: 20px;
                    width: 5px;
                    background-color: #FBFAFA;
                    border-radius: 100px;
                }
                ::-webkit-scrollbar-thumb,
                &::-webkit-scrollbar-thumb {
                    background-color: $scrollBarColor;
                    -webkit-border-radius: 1ex;
                }
            }
        }
        .lesson-item {
            height: $rowHeight;
            line-height: $rowHeight;
            border-bottom: 1px solid #f9f9f9;
            &:hover {
                background-color: #f9f9f9;
                cursor: pointer;
            }
            &:last-child {
                border-bottom: 0;
            }
            .col {
                overflow: hidden;
                .cell-content {
                    height: 100%;
                    line-height: $rowHeight - 10px;
                    padding: 5px;
                    box-sizing: border-box;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &.icon {
                    svg-icon {
                        overflow: hidden;
                        &.icon-wrapper {
                            height: $rowHeight - 10px;
                            width: $rowHeight - 10px;
                            margin: 5px auto 0;
                            border-radius: 50%;
                            position: relative;
                        }
                        svg {
                            width: 65%;
                            height: 65%;
                        }
                    }
                }
                &.title {
                    color: $fcColor6;
                    font-size: 14px;
                    font-weight: 400;
                }
                &.subject {
                    text-transform: capitalize;
                }
                &.select {
                    .assigned {
                        text-transform: uppercase;
                        text-align: center;
                    }
                    .select-wrap {
                        margin: 4px auto 0;
                        width: 27px;
                        height: 27px;
                    }
                    /* Base for label styling */
                    [type="checkbox"]:not(:checked),
                    [type="checkbox"]:checked {
                        //position: absolute;
                        //left: -9999px;
                        display: none; // the reason for this is to avoid the jump to the bottom of the list when checking the checkbox
                    }
                    [type="checkbox"]:not(:checked) + label,
                    [type="checkbox"]:checked + label {
                        position: relative;
                        cursor: pointer;
                    }

                    /* checkbox aspect */
                    [type="checkbox"]:not(:checked) + label:before,
                    [type="checkbox"]:checked + label:before {
                        content: '';
                        position: absolute;
                        left: 50%;
                        top: auto;
                        width: 25px;
                        height: 25px;
                        border: 1px solid $bcColor2;
                        background: $bgColor6;
                        border-radius: 50%;
                        box-shadow: none;
                    }
                    /* checked mark aspect */
                    [type="checkbox"]:not(:checked) + label:after,
                    [type="checkbox"]:checked + label:after {
                        @extend .material-icons;
                        content: '\E876';
                        position: absolute;
                        top: 2px;
                        left: 1px;
                        font-size: 22px;
                        line-height: 0.8;
                        color: $fcColor2;
                        transition: all .1s;
                    }
                    /* checked mark aspect changes */
                    [type="checkbox"]:not(:checked) + label:after {
                        opacity: 0;
                        //transform: scale(0);
                    }
                    [type="checkbox"]:checked + label:before {
                        background-color: $bgColor3;
                    }
                    [type="checkbox"]:checked + label:after {
                        opacity: 1;
                        //transform: scale(1);
                    }
                    /* disabled checkbox */
                    [type="checkbox"]:disabled:not(:checked) + label:before,
                    [type="checkbox"]:disabled:checked + label:before {
                        box-shadow: none;
                        border-color: #bbb;
                        background-color: #ddd;
                    }
                    [type="checkbox"]:disabled:checked + label:after {
                        color: #999;
                    }
                    [type="checkbox"]:disabled + label {
                        color: #aaa;
                    }
                    /* accessibility */
                    [type="checkbox"]:checked:focus + label:before,
                    [type="checkbox"]:not(:checked):focus + label:before {
                        border: 1px solid $bcColor2;
                    }

                    /* hover style just for information */
                    //label:hover:before {
                    //    border: 1px solid #4778d9!important;
                    //}
                }
            }
        }

    }
}
.material-icons {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
