<div class="lesson-list">
    <header class="list-header row-header flex-container">
        <div ng-repeat="column in options.columns"
             ng-class="::column.cssClassName"
             class="flex-item">
            {{column.name}}
        </div>
    </header>
    <div class="no-rows-for-filter" ng-if="d.processedData.length === 0">
        <span>{{options.translatedStrings.NO_LESSONS_FOR_FILTER}}</span>
    </div>
    <div class="rows-wrapper znk-scrollbar" ng-if="d.processedData.length">
        <div ng-repeat="row in d.processedData as results track by row.id"
             class="lesson-item flex-container">
            <div ng-repeat="column in options.columns"
                 ng-class="::column.cssClassName"
                 class="col flex-item">
                <ng-switch on="column.compile">
                    <div ng-switch-when="true" class="cell-content" compile-html="column.colTemplateFn(row, column)"></div>
                    <div ng-switch-default class="cell-content">{{column.colTemplateFn(row, column)}}</div>
                </ng-switch>
            </div>
        </div>
    </div>
</div>
