$transparent: transparent;

//font color
$fcColor1: #363636;
$fcColor2: #fff;
$fcColor3: #ff6766;
$fcColor4: #2AB79E;
$fcColor5: #0a9bad;
$fcColor6: #4f4d4d;
$fcColor7: #87ca4d;
$fcColor8: #b7b7b7;
$fcColor9 : #757a83;
$fcColor10 : #ff6766;
$fcColor11 : #757a83;

//background color
$bgColor1: #ff6766;
$bgColor2: #87ca4d;
$bgColor3: #0a9bad;
$bgColor4: #f6f6f6;
$bgColor5: #888888;
$bgColor6: #fff;
$bgColor7: #e8e7e7;
$bgColor8: #f7f6f6;
$bgColor9: #e8e7e7;
$bgColor10: #f5f8fa;
$bgColor11: #e55958;
$bgColor12: #80c248;
$bgColor13 : #0a9bad;
$bgColor14 : #f9f9f9;
$bgColor15 : #f0eded;
$bgColor16 : #0a9bad;
$bgColor17 : #67a531;
$bgColor18 : #76b63e;

//border color
$bcColor1: #87ca4d;
$bcColor2: #0a9bad;
$bcColor3: #CFCFCF;
$bcColor4: #ff6766;

// box-shadow
$bsColor1: #72ab40;

//background with transparency
$tbgColor1: rgba(0,0,0,0.7);

//znk-scroll
$scrollBarColor: #ECECEC;
