md-dialog {
    width: 800px;
    overflow: visible;
    background: 0 0;

    .close-popup-wrap {
        @include absolute-position(-35px, -35px);
        height: 14px;
        width: 14px;
        padding: 0;
        margin: 10px;
        cursor: pointer;
    }

    .popup-header {
        position: relative;
        height: 40px;
        background-color: $bgColor13;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;

        .raccoon {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;
            bottom: 17.5px;
            background-color: $bgColor13;

            .raccoon-logo-icon {
                width: 45px;
                height: 45px;
                margin: 0 auto;
                padding-top: 20px;
                * {
                    fill: $bgColor2;
                }
            }

        }

    }

    .md-dialog-content {
        padding: 20px 20px 60px;
        background-color: $bgColor6;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

        h2 {
            @include text-style(25px, $fcColor6, Quicksand, $boldFontWeight, null, null, null);
            text-align: center;
            margin: 15px 0 10px;
            .pro {
                font-size: 20px;
                padding: 2px 7px;
            }
        }

        p {
            @include text-style(16px, $fcColor7, Lato, $lightFontWeight);
            text-align: center;
        }

        .action {
            .md-button {
                width: 300px;
                margin: 0 auto;
                @include text-style(20px, $fcColor1, Lato, normal);
            }
        }
    }
}
