<md-dialog ng-class="vm.cssClass"
           class="purchase-popup base-border-radius"
           aria-label="Get Zinkerz"
           translate-namespace="ASSIGN_LESSON">
    <div class="popup-header">
        <div class="raccoon">
            <!--<svg-icon name="raccoon-logo-icon"></svg-icon>-->
        </div>
        <div class="close-popup-wrap">
            <!--<svg-icon name="close-popup" ng-click="vm.close()"></svg-icon>-->
        </div>
    </div>
    <md-dialog-content>
        <!--<div class="md-dialog-content">-->

        <h2><span ng-bind="vm.modalTitle"></span></h2>

        <div class="current-student text-center"
             translate=".STUDENT"
             translate-values="{currentStudent: vm.currentStudent}">
        </div>

        <div class="divider"></div>

        <div class="search-and-filter flex-container">

            <div class="search flex-item">
                <input type="search"
                       ng-model="vm.searchTerm"
                       placeholder="Search"
                       name="search-box"
                       aria-label="Search">
                <!--<svg-icon name="search-icon" class="search-icon"></svg-icon>-->
            </div>

            <div class="filters flex-item">
                <div class="filter-by-subject">
                    <div class="clear-filter"
                         title="{{::vm.clearFilter}}"
                         ng-if="vm.currentSubject !== ''"
                         ng-click="vm.currentSubject = ''; vm.currentSubjectName = ''">
                        <!--<svg-icon name="wrong-icon" class="svg-wrapper"></svg-icon>-->
                        X
                    </div>
                    <md-menu md-offset="-10 60">
                        <md-button ng-click="$mdOpenMenu($event);"
                                   aria-label="Filter by subject"
                                   class="md-icon-button">
                            <span>{{(vm.currentSubjectName) ? vm.currentSubjectName : vm.subjectLabel }}</span>
                            <md-icon class="material-icons">{{$mdMenuIsOpen ? 'expand_less': 'expand_more'}}</md-icon>
                        </md-button>
                        <md-menu-content class="student-review-grid-filter-menu">
                            <md-list>
                                <md-list-item ng-repeat="subject in vm.ACT_Subjects"
                                              ng-click="vm.currentSubject = subject.id; vm.currentSubjectName = subject.name">
                                    <span>{{subject.name}}</span>
                                </md-list-item>
                            </md-list>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div class="filter-by-status">
                    <div class="clear-filter"
                         title="{{::vm.clearFilter}}"
                         ng-if="vm.currentStatus !== ''"
                         ng-click="vm.currentStatus = ''; vm.currentStatusName = ''">
                        <!--<svg-icon name="wrong-icon" class="svg-wrapper"></svg-icon>-->
                        X
                    </div>
                    <md-menu md-offset="5 60">
                        <md-button ng-click="$mdOpenMenu($event);"
                                   aria-label="Filter by Status"
                                   class="md-icon-button">
                            <span>{{ (vm.currentStatusName) ? vm.currentStatusName : vm.statusLabel }}</span>
                            <md-icon class="material-icons">{{$mdMenuIsOpen ? 'expand_less': 'expand_more'}}</md-icon>
                        </md-button>
                        <md-menu-content class="student-review-grid-filter-menu">
                            <md-list>
                                <md-list-item ng-repeat="status in vm.statuses"
                                              ng-click="vm.currentStatus = status.val; vm.currentStatusName = status.name">
                                    <span>{{status.name}}</span>
                                </md-list-item>
                            </md-list>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </div>

        <lesson-list data="vm.lessons"
                     options="vm.gridOptions"
                     filters="vm.gridFilters"
                     actions="vm.gridActions">
        </lesson-list>

        <div class="btn-wrap">
            <button ng-click="vm.submitAssigned()"
                    class="md-button assign-btn drop-shadow"
                    translate=".ASSIGN"
                    name="submit">
            </button>
        </div>

        <!--</div>-->
    </md-dialog-content>
</md-dialog>
